<h2>Express, Handlebars, SASS template</h2>
<p>
  This template provides all of the tools to create a
  dynamic website. To get started go to the /views folder.
  All of the sass (scss) is in the /sass folder, and you
  can access the server in index.js. All resources put
  in /client will be available on the site.
  <br>
  <br>
  For more information:
  <ul>
    <li><a href="https://expressjs.com/">Express</a></li>
    <li><a href="https://handlebarsjs.com/">Handlebars</a></li>
    <li><a href="https://www.npmjs.com/package/express-handlebars/">Express Handlebars</a></li>
    <li><a href="https://sass-lang.com/">SASS</a></li>
    <li><a href="https://www.npmjs.com/package/node-sass-middleware">Node SASS Middleware</a></li>
  </ul>
</p>