<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Info: https://ahrefs.com/blog/open-graph-meta-tags/ -->
  <link rel="canonical" href="https://AbsoluteURLDieserSeite.local/exampleApp">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Titel_dieser_Seite">
  <meta property="og:description" content="Beschreibung">
  <meta property="og:url" content="https://url_to_this_site.local">
  <meta property="og:site_name" content="Beispiel App von Chris">
  
  <meta property="og:image" content="path_to_picture.png">
  <meta property="og:image:width" content="1920">
  <meta property="og:image:height" content="990">
  <meta property="og:image:type" content="image/png">

  <title>Replit</title>

  <link rel="stylesheet" href="/css/main.css">
  <style>
    body {
      background-color: #000;
      color: #fff;
    }
    a {
      color: #056eee;
    }
  </style>
</head>
<body>
  {{{ body }}}
</body>
</html>
